<h1>{{ user.username }}</h1>

<table>
  <tr style='background-color: #9ECAF3'>
    <th>id</th>
    <th>user name</th>
    <th>email</th>
    <th>phone no.</th>
  </tr>
  <tr style='background-color: #E6E0B8'>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phoneNo }}</td>
  </tr>
</table>